

button:disabled,
button[disabled]{
	opacity: 0.5;
	cursor: not-allowed;
}
.log-modal {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.log-modal .log-header {
	padding-bottom: 1rem;
}

.log-container {
	overflow: scroll;
    flex-grow: 1;
	font-size: small;
	font-family: var(--font-monospace);
    font-size: var(--font-ui-smaller);
    color: var(--text-muted);
    border-top: 1px solid var(--background-modifier-border);
    border-bottom: 1px solid var(--background-modifier-border);
	background-color: var(--background-secondary);
}

.empty-list {
	text-align: center;
	color: var(--text-muted);
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.error-message {
	color: 	#ff3333;
	font-size: small;
}
